.flex-row {
  display: flex;
}
.bg-white {
  background: #ffffff;
}
.bg-green {
  background: #1AC1B3;
}
.text-center {
  text-align: center;
}
.date-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.date-menu .date-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.date-menu .date-info .info-title {
  margin: 0;
  padding: 0 1rem;
  justify-content: space-between;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  background-color: #f7f7f8;
}
.date-menu .date-info .date {
  background: #ffffff;
  text-align: center;
}
.date-menu .date-info .date div {
  flex: 1;
  padding: 1rem;
}
.date-menu .date-info .date div input {
  width: 100%;
  margin: 0.5rem 0;
  border: 1px solid #1AC1B3;
  border-radius: 4px;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.6rem;
}
.date-menu .date-info .date div label {
  font-size: 0.6rem;
  color: #666666;
}
.data-title {
  background-color: #f8f8f8;
  line-height: 1.2rem;
}
.data-title li,
.data-content li {
  text-align: center;
  font-size: 0.6rem;
}
.data-content .data-item {
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px solid #f7f7f8;
  border-left: 1px solid #f7f7f8;
  border-right: 1px solid #f7f7f8;
}
.data-content li:nth-child(1) span {
  display: inline-block;
  width: 0.8rem;
  line-height: 0.8rem;
  color: #ffffff;
  background-color: #3398db;
  border-radius: 50%;
}
.data-content li:nth-child(3) {
  font-size: 0.7rem;
  color: #fe7d7f;
}
.bread-crumbs {
  height: 2.86rem;
  padding: 0;
}
.bread-crumbs a {
  flex: 1;
  border-right: 1px solid #e1e1e1;
  align-items: center;
  justify-content: center;
  color: #1AC1B3;
}
.bread-crumbs a:last-child {
  border-right: none;
}
.bread-crumbs a span {
  font-size: 0.7rem !important;
}
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4fc;
  font-size: 0.7rem;
}
a {
  color: #3d4145;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
  color: #3d4145;
}
ul,
li {
  list-style: none;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.card {
  box-shadow: 0 0 5px rgba(102, 102, 102, 0.1);
  margin: 0.3rem;
}
.actions-modal-button.bg-danger {
  background: #fe7d7f;
}
.actions-modal-button {
  font-size: 0.8rem;
  color: #666666;
}
.buttons-tab {
  background: #f7f7f8;
}
.buttons-tab .button.active {
  color: #1AC1B3;
  border-color: #1AC1B3;
}
.card-list {
  margin-bottom: 3.8rem;
}
.card {
  padding: 1rem 0.5rem;
  align-items: center;
}
.card li:nth-child(1) img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.card li:nth-child(2) {
  margin-left: 0.8rem;
}
.card li:nth-child(2) p:nth-child(2) {
  color: #999999;
  font-size: 0.6rem;
}
.card li:nth-child(2) p:nth-child(3) {
  color: #999999;
  font-size: 0.6rem;
}
.card li:nth-child(2) img {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
}
.card li:nth-child(3) {
  flex: 1;
  text-align: right;
  color: #999999;
  font-size: 0.6rem;
}
.card li:nth-child(3) p:nth-child(2) {
  color: #1AC1B3;
}
.card li:nth-child(3) p:nth-child(2) span {
  font-size: 0.9rem;
}
.add-p {
  font-size: 0.8rem;
  color: #1AC1B3;
}
.reservation-list .card {
  padding: 0.5rem 0.5rem;
  margin: 0.5rem;
}
.reservation-list .card .card-header {
  justify-content: normal;
}
.reservation-list .card .card-header img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
.reservation-list .card .card-header .round {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #efeff4;
  position: absolute;
}
.reservation-list .card .card-header .left {
  bottom: -0.4rem;
  left: -0.9rem;
}
.reservation-list .card .card-header .right {
  bottom: -0.4rem;
  right: -0.9rem;
}
.reservation-list .card .card-content-inner {
  justify-content: space-between;
  align-items: center;
}
.reservation-list .card .card-content-inner li {
  color: #999999;
  line-height: 1.2rem;
  margin-left: 0;
  text-align: left;
}
.reservation-list .card .card-content-inner li span {
  color: #1AC1B3;
}
.reservation-list .card .card-content-inner img {
  width: 3rem;
  height: 3rem;
}
.reservation-list .card .card-footer {
  color: #999999;
}
