.flex-row {
  display: flex;
}
.bg-white {
  background: #ffffff;
}
.bg-green {
  background: #1AC1B3 !important;
}
.text-center {
  text-align: center;
}
.position-r {
  position: relative;
}
.date-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.date-menu .date-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.date-menu .date-info .info-title {
  margin: 0;
  padding: 0 1rem;
  justify-content: space-between;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  background-color: #f7f7f8;
}
.date-menu .date-info .date {
  background: #ffffff;
  text-align: center;
}
.date-menu .date-info .date div {
  flex: 1;
  padding: 1rem;
}
.date-menu .date-info .date div input {
  width: 100%;
  margin: 0.5rem 0;
  border: 1px solid #1AC1B3;
  border-radius: 4px;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.6rem;
}
.date-menu .date-info .date div label {
  font-size: 0.6rem;
  color: #666666;
}
.data-title {
  background-color: #f8f8f8;
  line-height: 1.2rem;
}
.data-title li,
.data-content li {
  text-align: center;
  font-size: 0.6rem;
}
.data-content .data-item {
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px solid #f7f7f8;
  border-left: 1px solid #f7f7f8;
  border-right: 1px solid #f7f7f8;
}
.data-content li:nth-child(1) span {
  display: inline-block;
  width: 0.8rem;
  line-height: 0.8rem;
  color: #ffffff;
  background-color: #3398db;
  border-radius: 50%;
}
.data-content li:nth-child(3) {
  font-size: 0.7rem;
  color: #fe7d7f;
}
.bread-crumbs {
  height: 2.86rem;
  padding: 0;
}
.bread-crumbs a {
  flex: 1;
  border-right: 1px solid #e1e1e1;
  align-items: center;
  justify-content: center;
  color: #1AC1B3;
}
.bread-crumbs a:last-child {
  border-right: none;
}
.bread-crumbs a span {
  font-size: 0.7rem !important;
}
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4fc;
  font-size: 0.7rem;
}
a {
  color: #3d4145;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
  color: #3d4145;
}
ul,
li {
  list-style: none;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.card {
  box-shadow: 0 0 5px rgba(102, 102, 102, 0.1);
  margin: 0.3rem;
}
.actions-modal-button.bg-danger {
  background: #fe7d7f;
}
.actions-modal-button {
  font-size: 0.8rem;
  color: #666666;
}
.buttons-tab {
  background: #f7f7f8;
}
.buttons-tab .button.active {
  color: #1AC1B3;
  border-color: #1AC1B3;
}
.header {
  height: 10rem;
  background: #1AC1B3;
}
.header .auto-img {
  padding-top: 2rem ;
}
.header .auto-img img {
  width: 4rem;
  height: 4rem;
}
.header p {
  display: block;
  width: 15%;
  margin: 0.5rem auto;
  padding: 0.1rem 0.3rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
}
.list-block {
  margin: 0;
  font-size: 0.7rem;
}
.list-block ul {
  padding: 0.5rem 0;
}
.list-block .item-content {
  padding-right: 0.75rem;
}
.list-block .item-content .item-inner .fl {
  color: #999999;
}
.content-block {
  margin: 1rem 0;
}
